<div class="p-grid">
  <div class="p-col"><button pButton type="button" class="p-button-info"></button></div>
  <div class="p-col"><button pButton type="button" label="Primary"></button></div>
  <div class="p-col"><button pButton type="button" label="Secondary" class="p-button-secondary"></button></div>
  <div class="p-col"><button pButton type="button" label="Success" class="p-button-success"></button></div>
  <div class="p-col"><button pButton type="button" label="Info" class="p-button-info"></button></div>
  <div class="p-col"><button pButton type="button" label="Warning" class="p-button-warning"></button></div>
  <div class="p-col"><button pButton type="button" label="Help" class="p-button-help"></button></div>
  <div class="p-col"><button pButton type="button" label="Danger" class="p-button-danger"></button></div>
</div>
